<footer class="navbar-expand-lg  bg-dark fixed-bottom">
    <div class="container">
      <p class="m-0 text-center text-white">Copyright &copy; 2018 OSF Gloval Services</p>
    </div>
    <!-- /.container -->
  </footer>