<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
      <a class="navbar-brand" href="/"><%= title %></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
              <li class="nav-item ">
                 <form action="/search/product" method="GET">
                 <input type="text" name="search" placeholder="Search" >
                 <input type="Submit" value="Search"  >
                </form>
              </li>
              <li class="nav-item ">
                <a class="nav-link" href="/">Home
                  <span class="sr-only">(current)</span>
                </a>
              </li>
              <li class="nav-item ">
                <a class="nav-link" href="/mens">Mens</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/womens">Womens</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/authenticate/signup">SignUp</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/authenticate/login">LogIn</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/authenticate/logout">LogOut</a>
              </li>
            </ul>
      
      </div>
    </div>
  </nav>