<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title><%= title   %></title>

    <!-- Bootstrap core CSS -->
    <link href="../vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="../css/shop-item.css" rel="stylesheet">
    
  </head>

  <body>

    <!-- Navigation -->
    <% include ./header %>

    <!-- Page Content -->
    <div class="container">
        <p> <a href = "/">Home</a>/<p>
          <div class="row">
            <p> <%= secret.secret%> </p>
          </div>
    </div>
  </div>
  
    <!-- Footer -->
    <% include ./footer %>

    <!-- Bootstrap core JavaScript -->
    <script src="../vendor/jquery/jquery.min.js"></script>
    <script src="../vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  </body>

</html>
