<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title><%= subcategory.categories[0].page_title  %></title>
    
    <!-- Bootstrap core CSS -->
    <link href="../../vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="../../css/heroic-features.css" rel="stylesheet">

  </head>

  <body>
   
    <!-- Navigation -->
    <% include ./header %>
    <!-- Page Content -->
    <div class="container">
        <p> <a href = "/">Home</a>/<a href="/<%= categoryid %>"</a><%= categoryid %>/</a><a href="/<%= categoryid%>/subcategory/<%=subcategoryid%>"><%= subcategoryid%></a><p>
        <div class="card mt-4">
          <img class="card-img-top img-fluid"
          <% if (subcategory.categories[0].image != undefined){ %>
          src="../../images/<%= subcategory.categories[0].image %>"
          <% } else { %>
          src="../../images/image-not-found.jpg"
          <%  } %> > 
        <div class="card-body">
          <h3 class="card-title"><%= subcategory.categories[0].name%></h3>
          <p class="card-text"><%=  subcategory.categories[0].page_description%></p>
            <% subcategory.categories.forEach(function(element){
                  element.categories.forEach(function(category){ %>
                          <img class="card-img-top img-fluid"
                          <% if (category.image != undefined){ %>
                          src="../../images/<%= category.image %>"
                          <% } else { %>
                          src="../../images/image-not-found.jpg"
                          <%  } %> > 
                          <div class="card-body">
                            <h4 class="card-title"><%= category.name%></h4>
                            <p class="card-text"><%= category.page_description%></p>
                              <a href=<%="/"+subcategory.categories[0].parent_category_id+"/subcategory/"+ subcategory.categories[0].id + "/"+category.id %>  class="btn btn-primary">View Products</a>
                          </div>
            <% }); }); %>
      </div>
      <!-- /.row -->
    </div>
    <!-- /.container -->

    <!-- Footer -->
    <% include ./footer %>

    <!-- Bootstrap core JavaScript -->
    <script src="../../vendor/jquery/jquery.min.js"></script>
    <script src="../../vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  </body>

</html>
