<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title><%= products[0].page_title%></title>

    <!-- Bootstrap core CSS -->
    <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/css/heroic-features.css" rel="stylesheet">

  </head>

  <body>

    <!-- Navigation -->
    <% include ./header %>
    <!-- Page Content -->
    <div class="container">
        <p> <a href = "/">Home</a>/<a href="/<%= categoryid %>"</a><%= categoryid %>/</a><a href="/<%= categoryid%>/subcategory/<%=subcategoryid%>"><%= subcategoryid%></a>/<a href="/<%= categoryid%>/subcategory/<%=subcategoryid%>/<%=product%>"><%= product%></a><p>
      <!-- Page Features -->
      <div class="row text-center">
        <%
        products.forEach(function(products){
        %>
        <div class="col-lg-3 col-md-6 mb-4">
                <div class="card">
                  <img class="card-img-top"
                  <% if (products.image_groups[0].images[0].link != undefined){ %>
                    src="../../../images/<%= products.image_groups[0].images[0].link%>"
                    <% } else { %>
                    src="../../../images/image-not-found.jpg"
                    <%  } %> > 
                  
                  <div class="card-body">
                    <h4 class="card-title"><%= products.name%></h4>
                    <p class="card-text"><%= products.short_description%></p>
                    <p class="card-text">Price: <%= products.price%></p>
                  </div>
                  <div class="card-footer">
                    <a href=<%= products.primary_category_id+"/"+ products.id %> class="btn btn-primary">Find Out More!</a>
                  </div>
                </div>
              </div>
        <%
        });
        %>
      </div>
    </div>
    <!-- Footer -->
    <% include ./footer %>
    <!-- Bootstrap core JavaScript -->
    <script src="/vendor/jquery/jquery.min.js"></script>
    <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  </body>

</html>
