<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Shop Item - Start Bootstrap Template</title>

    <!-- Bootstrap core CSS -->
    <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/css/shop-item.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script>
    $(document).ready(function(){
      $("#currency").prop('selectedIndex',0);
      $('#currency').change(function(){
          var value = $('#currency').val();
          $('#product').text(value);
      })
    }) 
    </script>
  </head>

  <body>

    <!-- Navigation -->
    <% include ./header %>
    <!-- Page Content -->
    <div class="container">
        <p> <a href = "/">Home</a>/<a href="/<%= categoryid %>"</a><%= categoryid %>/</a><a href="/<%= categoryid%>/subcategory/<%=subcategoryid%>"><%= subcategoryid%></a>/<a href="/<%= categoryid%>/subcategory/<%=subcategoryid%>/<%=products%>"><%= products%></a>/<a href="/<%= categoryid%>/subcategory/<%=subcategoryid%>/<%=products%>/<%= productid%>"><%= productid%></a><p>
      <div class="row">
        <!-- /.col-lg-3 -->
        <div class="col-lg-9">
          <div class="card mt-4">
            <img class="card-img-top img-fluid"
            <% if (product[0].image_groups[0].images[0].link != undefined){ %>
              src="../../../../images/<%= product[0].image_groups[0].images[0].link%>"
              <% } else { %>
              src="../../../../images/image-not-found.jpg"
              <%  } %> >
            <div class="card-body">
              <h3 class="card-title"><%= product[0].name%></h3>
             
              <select id="currency">
                <option value=<%= product[0].price %> selected>USD</option>
                <%
                var usd = currency[28].Value;
                currency.forEach( function(currency){
                    if(currency.IDMoneda == "GBP" || currency.IDMoneda == "EUR"){
                %>    
                  <option value=<%= ((product[0].price*usd)/currency.Value).toFixed(2) %> ><%= currency.IDMoneda%></option>
                <% 
                    } 
                })  
                %> 
              
              </select>
              <p id="product"><%= product[0].price%></p>
              <p class="card-text"><%= product[0].long_description %></p>
              
            </div>
           
          </div>
        </div>
        <!-- /.col-lg-9 -->
      </div>
    </div>
    <!-- /.container -->

    <!-- Footer -->
    <% include ./footer %>

    <!-- Bootstrap core JavaScript -->
    <script src="/vendor/jquery/jquery.min.js"></script>
    <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  </body>

</html>
