<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title><%= title   %></title>

    <!-- Bootstrap core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="css/shop-item.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script> 
    $(document).ready(function(){
    $("#mens").click(function(){
       $("#Mens").toggle();
        });
    $("#womens").click(function(){
       $("#Womens").toggle();
       });
    });
    </script>
  </head>

  <body>

    <!-- Navigation -->
    <% include ./header %>

    <!-- Page Content -->
    <div class="container">
        <p> <a href = "/">Home</a>/<p>
        <%  category.forEach(function(categories){ %>
            <div class="card mt-4">
                    <img class="card-img-top img-fluid"  alt="">
                    <div class="card-body">
                      <h3 class="card-title"><%= categories.name%></h3>
                      <p class="card-text"><%= categories.page_description%></p>
                      <div >
                      <button id="<%= categories.id%>" class="btn btn-primary">Find Out More!</button>
                      </div>
                      <div id="<%= categories.name%>" style="display: none">
                        <%  categories.categories.forEach(function(subcategories){ %>
                          <div   class="card-body">
                          <img class="card-img-top img-fluid" 
                          <img class="card-img-top img-fluid"    
                          <% if (subcategories.image != undefined){ %>
                            src="images/<%= subcategories.image %>"
                          <% } else { %>
                            src="images/image-not-found.jpg"
                          <%  } %> >
                          <a class = "navbar-brand" href= <%= subcategories.parent_category_id+"/subcategory/"+subcategories.id %>
                              <h3 class="card-title"><%= subcategories.name%></h3>
                          </a>
                            <p class="card-text"><%= subcategories.page_description%></p>
                          </div>
                        <%  }) %>  
                      </div>
                  </div>  
        <%  }) %>
    </div>
  </div>
  
    <!-- Footer -->
    <% include ./footer %>

    <!-- Bootstrap core JavaScript -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  </body>

</html>
