<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title><%= title   %></title>

    <!-- Bootstrap core CSS -->
    <link href="../../vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="../../css/shop-item.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script> 
    var message = decodeURIComponent(window.location.search.substring(5));
    $(document).ready(function(){
    if(message != ""){
      $('#message').text(message);
    } 
  })
    
    </script>
  </head>

  <body>

    <!-- Navigation -->
    <% include ./header %>
    <div class="container">
            <div class="card mt-4">
            <form class="form-signin" action="/authenticate/login" method="POST">
                <h2 class="form-signin-heading">Please Log In</h2>
                <div>
                  <p id="message"></p>
                </div>
                <label for="inputEmail" class="sr-only">Email address</label>
                <input type="email" id="inputEmail" name="email" class="form-control" placeholder="Email address" required autofocus>
                <label for="inputPassword" class="sr-only">Password</label>
                <input type="password" id="inputPassword" name="password" class="form-control" placeholder="Password" required>
                <br/>
                <button class="btn btn-lg btn-default btn-block" type="submit">Log In</button>
              </form>
              </div>
            </div>
            <!-- Footer -->
            <% include ./footer %>
        
            <!-- Bootstrap core JavaScript -->
            <script src="../../vendor/jquery/jquery.min.js"></script>
            <script src="../../vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
        
          </body>
        
        </html>